#mainLayout{
	background-image: url("../LOGO/gkwlogo.png");
	max-width:1500px;
	margin:0 auto;
	background-attachment:fixed
}
.data{
	border-collapse: collapse;
	text-align:center;
	width:90%;
}
td {
	color: #AAAAAA;
	/* border: #D74B4B; */
}

.btnModule{
	font-size: 14px;
	/* text-align: left; */
}

tr {
	color: white;
	/* border: #D74B4B; */
	border: #333333;
}

.layer{
    height:100%;
    /*margin-top:10px;*/
    animation-name: barAnmi;
	animation-duration: 0.1s;
    /*margin: auto;*/
    left: 0; top: 0; right: 0; bottom: 0;
    transition-timing-function: ease-in;
	transition:1s;
}


.figureTitle{
	color: white;
	font-size: 70px;
	position:absolute;
	margin-left: 5%;
}

	@font-face {
	    font-family:font2;
	    src: url(https://www.socpk.com/fonts/Bahnschrift-VF.ttf);
	    
	}

.socName{
	width:200px;
	text-align:right;
	color:#BBBBBB;
}

.logo{
	width:50px;
}

.logo img{
	width:60px;
	padding:0 5px;
	vertical-align:middle;
}


.btnSwitch{
	text-decoration:none;
	/* color:white; */
	border: 2px solid white; 
	cursor:pointer;
	background:black;
	padding:6px 30px;
	text-align: left;	
	margin:5px 3px 0px 3px;
	border-radius:120px; 
	color: white;
}


        	


.backBtn{
	text-decoration:none;
	color:white;
	cursor:pointer;
	background:#D84849;
	/*padding:6px 2%;	*/
	margin:0 2%;
	border-radius:4px;
	float:left;
	padding:15px 30px;
	position:absolute;
	font-size:26px
}
        	
.backBtn:hover{
	background:#EFA5AB;
}
 



@keyframes barAnmi{
	0%   {opacity:0}
}

.ratio a{
    position:absolute;
	padding-left:0.2%;
	color:white;	
	font-size:10px;
}




#caption{
	text-align:center;
	font-size:60px;
	margin-top:50px;
	letter-spacing: 3px;
	color:#FFFFFF;
} 

#notice{
	text-align:center;
	margin-top:-50px;
	color:#AAAAAA;
} 



@keyframes barAnmiInfo{
	0%   {opacity:0}
}

.info{
	/*position:absolute; */
	width:100px;
	display: block;
	text-align: center;
	margin-bottom:70%;
	margin-left: auto;
		margin-right: auto;

	animation-name: barAnmiInfo;
	animation-duration: 1.2s;
	transition-timing-function: ease-in;
	transition:0.4s;
	
}

#author{
	/* position:absolute; */
	color:white;
	display: block;
	text-align:center;
	margin:3% auto ;
	font-size:24px;
	width:200px;
	animation-name: barAnmi;
	animation-duration: 1.2s;
	transition-timing-function: ease-in;
	transition:0.4s;
}

@keyframes author{
	0%   {opacity:0}
}

.downBtn{
	text-decoration:none;
	color:white;
	border: 2px solid white; 
	cursor:pointer;
	/*background:#17E8E0;*/
	padding:6px 2%;	
	margin:0 2%;
	border-radius:120px; 
	float:left;
	padding:2px 23px 8px 20px;
	position:absolute;
	font-size:40px
		}

.downBtn:hover{
	background:#D74B4B;
}


