#mainLayout{
	background-image: url("../LOGO/gkwlogo.png");
	max-width:1500px;
	margin:0 auto;
	background-attachment:fixed
}


@font-face {
	font-family:font2;
	src: url(https://www.socpk.com/fonts/Bahnschrift-VF.ttf);
	
}

.data{
	border-collapse: collapse;
	text-align:center;
	width:90%;
}

.socName{
	width:250px;
	text-align:right;
	color:#BBBBBB;
}

.logo{
	width:50px;
}

.logo img{
	width:55px;
	padding:0 8px;
	vertical-align:middle;
}


.ratioBar {
    width: 100%;
    /*height: 18px;*/
    /* background: black; */
}


.ratio {
    height: inherit;
	position:relative;
    border-radius: 0 20px 20px 0;
    background: #3E82F7;
	animation-name: barAnmi;
	animation-duration: 1s;
	transition-timing-function: ease-in;
	transition:0.4s;
	text-align:right;
	font-family:font2;
	color: white;

}

.ratio2 {
    height: inherit;
    border-radius: 0 20px 20px 0;
    background: #399EF2;
	animation-name: barAnmi;
	animation-duration: 1s;
	transition-timing-function: ease-in;
	transition:0.4s;
	text-align:right;	
	font-family:font2;
	/* font-weight: bold; */
    
}
.downBtn{
	text-decoration:none;
	color:white;
	border: 2px solid white; 
	cursor:pointer;
	/*background:#17E8E0;*/
	padding:6px 2%;	
	margin:0 2%;
	border-radius:120px; 
	font-weight: bold;
		}
        	
.downBtn:hover{
	background:#536EB7;
}

#btn1:hover{
	background:#399EF2;
	/*color: black;*/
}
#btn2:hover{
	background:#3E82F7;
}




.ratioBar a{
    position:absolute;
	padding-left:0.2%;
	
	/*width:10px;*/
	/*color:white;	*/
	color:white;	

}




@keyframes barAnmi{
	0%   {width: 0%}
}

#caption{
	text-align:center;
	letter-spacing: 3px;
	font-size:60px;
	margin-top:50px;
	color:#3E82F7;
	font-weight: bold;
} 


#notice{
	text-align:center;
	margin:-40px 0 20px 0;
	color:#C1C1C1;
} 



.info{
	/* position:absolute; */
	width:200px;
	display: block;
	margin:100px auto 0 auto;
}

#author{
	/* position:absolute; */
	color:#666666;
	display: block;
	text-align:center;
	margin-bottom:100px;
	font-size:16px;
	width:200px;
}


.ratioLine{
	height:0px;
	background:black;
	position:inherit;
	font-family:font2;
	
}

.ratioLineHeight{
	width:1px;
	background:#444444;
	position:parent;
	margin-left:100%;
	font-size: 20px;

	color:#BBBBBB;
}


.floatBtn{
	position: fixed;	      
    bottom: 5%;		
    right: 5%;	

}


